[submodule "sftp"]
	path = sftp
	url = git@github.com:gonzalomelov/dw-calidad-aire-sftp.git
[submodule "db-service"]
	path = db-service
	url = git@github.com:gonzalomelov/dw-calidad-aire-db-service.git
[submodule "docsify"]
	path = docsify
	url = git@github.com:gonzalomelov/dw-calidad-aire-docsify.git
[submodule "filestash"]
	path = filestash
	url = git@github.com:gonzalomelov/dw-calidad-aire-filestash.git
[submodule "admin"]
	path = admin
	url = git@github.com:gonzalomelov/dw-calidad-aire-admin.git
[submodule "docker-biserver-ce"]
	path = docker-biserver-ce
	url = git@github.com:gonzalomelov/dw-calidad-aire-docker-biserver.git
[submodule "docker-pdi-ce"]
	path = docker-pdi-ce
	url = git@github.com:gonzalomelov/dw-calidad-aire-docker-pdi.git
[submodule "r"]
	path = r
	url = git@github.com:gonzalomelov/dw-calidad-aire-r.git
[submodule "dockprom"]
	path = dockprom
	url = git@github.com:gonzalomelov/dw-calidad-aire-dockprom.git
[submodule "portainer"]
	path = portainer
	url = git@github.com:gonzalomelov/dw-calidad-aire-portainer.git
[submodule "traefik"]
	path = traefik
	url = git@github.com:gonzalomelov/dw-calidad-aire-traefik.git
[submodule "landing"]
	path = landing
	url = git@github.com:gonzalomelov/dw-calidad-aire-landing.git
